* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 20px;
}

.toDoList {
  width: 100%;
  max-width: 50vw;
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
}

.toDoList h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bolder;
}

.toDoList img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.row {
  background-color: #edeef0;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

#textBox {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
}

.row button {
  border-radius: 10px;
  width: 4em;
  padding: 8px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
}

#taskList {
  padding: 10px;
}

#taskList li {
  list-style: none;
  padding: 12px 8px 12px 50px;
  margin: auto 20px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

#taskList li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  top: 12px;
  left: 0;
}

#taskList li.checked {
  text-decoration: line-through;
}

#taskList li.checked::before {
  background-image: url(images/checked.png);
}

span {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  top: 5px;
  font-size: 22px;
  line-height: 40px;
  border-radius: 50%;
}

span:hover {
  background-color: #edeef0;
}
